.footer-navigation
  ul.footer-navigation__list
    li.footer-navigation__item
      a.footer-navigation__link(href="#") Правила
    li.footer-navigation__item
      a.footer-navigation__link(href="#") Документы
    li.footer-navigation__item
      a.footer-navigation__link(href="#") Политика конфиденциальности
