header.page-header
  .page-header__row.page-header__row--top
    .container
      .page-header__logo
        include ./logo
      .page-header__search
        include ./search
      .page-header__phone
        include ./phone
      .page-header__user
        include ./user
  .page-header__row.page-header__row--bottom
    .container
      .page-header__navigation
        include ./main-navigation
