.social
  ul.social__list
    li.social__item
      a.social__link(href="#", target="_blank", rel="noreferrer")
        span.visually-hidden Мы на Youtube
        svg.social__icon(width="31", height="30", aria-hidden="true")
          use(xlink:href="#icon_youtube")
    li.social__item
      a.social__link(href="#", target="_blank", rel="noreferrer")
        span.visually-hidden Мы в Instagram
        svg.social__icon(width="31", height="30", aria-hidden="true")
          use(xlink:href="#icon_instagram")
