@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin button() {
  background-color: $accent-color;
  border: none;
  color: #ffffff;
  font-weight: 500;
  line-height: 1;
  border-radius: 5px;
  transition: 0.3s background-color, 0.3s border;

  &[disabled] {
    background-color: $border-color;
    cursor: not-allowed;
  }

  &:not([disabled]) {
    &:hover {
      background-color: $accent-color-hover;
    }

    &:active {
      background-color: rgba($accent-color-hover, 0.5);
    }
  }
}

@mixin button-reverse() {
  background-color: transparent;
  border: 1px solid $accent-color;
  color: $accent-color;
  line-height: 1;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s color, 0.3s border;

  &[disabled] {
    background-color: $border-color;
    border-color: $disabled-text-color;
    cursor: not-allowed;
  }

  &:not([disabled]) {
    &:hover {
      color: $accent-color-hover;
      border-color: $accent-color-hover;
    }

    &:active {
      color: #b0bdd4;
      border-color: #b0bdd4;
    }
  }
}

@mixin link() {
  color: $accent-color;
  transition: 0.2s color;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: rgba($accent-color, 0.5);
  }
}

@mixin h2() {
  font-weight: 500;
  font-size: 26px;
  text-transform: uppercase;
  margin: 0 0 20px;

  @media (min-width: $tablet) {
    font-size: 30px;
    margin: 0 0 25px;
  }

  @media (min-width: $desktop) {
    font-size: 36px;
    margin: 0 0 50px;
  }
}

@mixin h3() {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 5px;
}
