$text-color: #121920;
$alternative-text-color: #768298;
$accent-color: #34aadd;
$accent-color-hover: #6680ae;
$bg-color: #fafafa;
$disabled-text-color: #bbc4d6;
$border-color: #ebebf1;
$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;
