body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  min-width: $mobile;

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
